//Import Reset
@import 'reset';

// Import Variables
@import 'variables';

// Import Typography - cminosora
@import 'typography';
 // Import buttons
@import 'buttons';

//Import Forms
@import 'forms';

// Import Mixins
@import 'mixins';

//Import lists
@import 'lists';

//Import tables
@import 'tables';

//Import Utilities
@import 'utilities';

// Custom styles
body {
    background-color: $background-color; // Light background

}

.site-header {
    padding: 10px 0;
    background-color: $secondary-color;
    color: rgba(255, 254, 254, 0.93);
  }

.cta {
    margin: 30px 0;
    padding: 20px;
    background-color:$primary-color;
}
.custom-heading{
    margin: 30px 0;
    padding: 20px;
    background-color:$primary-color;
}
.site-footer {
    background-color: $footer-color;
    padding: 20px 0;

    &__copyright {
        color: $background-color; 
    }

    .newsletter {
        &__heading {
            color:$background-color;
            padding: 20px;
        }
    }
}