
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'lists';
@import 'tables';



// Custom styles
body {
    background-color: $background-color; // Light background

}

.site-header {
    padding: 10px 0;
    background-color: $secondary-color;
    color: rgba(255, 254, 254, 0.93);
  }

.cta {
    margin: 30px 0;
    padding: 20px;
    background-color:$accent-color;
    &__heading{
        color: $background-color;
    }
    &__subtext{
        color: $background-color;
    }
}
.custom-h2{
    background-color: $secondary-color;
    color: $background-color;
    margin: 20px;
    padding: 20px;
}
.site-footer {
    background-color: $footer-color;
    padding: 20px 0;

    &__copyright {
        color: $background-color; 
    }

    .newsletter {
        &__heading {
            color:$background-color
        }
    }
}